* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
}
.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageNotFound {
  height: 28rem;
}

@media only screen and (max-width: 600px) {
  .imageNotFound {
    height: 20rem;
  }
}
